.inicioText__container {
  height: 100vh;
  bottom: 0;
}
.inicioText__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
}
.inicioText__h1 {
  overflow: hidden;
  position: relative;
  margin: 4em;
}
.inicioText__span {
  font-family: "Kanit", sans-serif;

  letter-spacing: 5px;
  font-size: 4em;
  font-weight: 400;
  width: 500px;
  display: flex;
  justify-content: center;
}
.inicioText__mensaje {
  display: flex;
  background-color: rgb(240, 226, 30, 0.5);
  color: #000;

  font-weight: 900;
  overflow: hidden;
  position: absolute;
  bottom: 0.2em;
  transition: 1s;
  animation: openclose 5s ease infinite;
}

.word1,
.word2 {
  width: 503px;
  overflow: hidden;
  text-align: center;
  font-size: 3em;
  font-weight: 900;
  font-family: tahoma;
  white-space: nowrap;
}
.word3 {
  width: 553px;
  overflow: hidden;
  text-align: center;
  font-size: 3em;
  font-weight: 900;
  font-family: tahoma;
}

@keyframes openclose {
  0% {
    width: 0;
  }
  15% {
    width: 1559px;
    transform: translateX(0);
  }

  25% {
    width: 1559px;
    transform: translateX(0);
  }

  50% {
    width: 1559px;
    transform: translateX(-503px);
  }

  75% {
    width: 1559px;
    transform: translateX(-1029px);
  }

  100% {
    width: 0;
    transform: translateX(0);
  }
}
@media (max-height: 500px) {
  .inicioText__span {
    width: 394px;
    font-size: 3em;
  }
  .word1,
  .word2 {
    width: 400px;
    font-size: 2.5em;
  }
  .word3 {
    width: 450px;
    font-size: 2.5em;
  }
  @keyframes openclose {
    0% {
      width: 0;
    }
    15% {
      width: 1600px;
      transform: translateX(0);
    }

    25% {
      width: 1600px;
      transform: translateX(0);
    }

    50% {
      width: 1600px;
      transform: translateX(-400px);
    }

    75% {
      width: 1600px;
      transform: translateX(-840px);
    }
    100% {
      width: 0;
      transform: translateX(0);
    }
  }
}
@media (max-width: 574px) {
  .inicioText__h1 {
    margin: 0;
  }
}
@media (max-width: 508px) {
  .inicioText__span {
    width: 394px;
    font-size: 3em;
  }
  .word1,
  .word2 {
    width: 400px;
    font-size: 2.5em;
  }
  .word3 {
    width: 450px;
    font-size: 2.5em;
  }
  @keyframes openclose {
    0% {
      width: 0;
    }
    15% {
      width: 1600px;
      transform: translateX(0);
    }

    25% {
      width: 1600px;
      transform: translateX(0);
    }

    50% {
      width: 1600px;
      transform: translateX(-400px);
    }

    75% {
      width: 1600px;
      transform: translateX(-840px);
    }
    100% {
      width: 0;
      transform: translateX(0);
    }
  }
}
@media (max-width: 400px) {
  .inicioText__span {
    width: fit-content;
  }
}
@media (max-width: 325px) {
  .inicioText__span {
    font-size: 2.5em;
  }
  .word1,
  .word2 {
    width: 270px;
    font-size: 2em;
  }
  .word3 {
    width: 300px;
    font-size: 2em;
  }
  @keyframes openclose {
    0% {
      width: 0;
    }
    15% {
      width: 840px;
      transform: translateX(0);
    }

    25% {
      width: 840px;
      transform: translateX(0);
    }

    50% {
      width: 840px;
      transform: translateX(-270px);
    }

    75% {
      width: 840px;
      transform: translateX(-560px);
    }
    100% {
      width: 0;
      transform: translateX(0);
    }
  }
}
